{% extends 'base.html' %}
{% comment %} 공지사항 세부사항: 게시글 {% endcomment %}

{% load static %}
{% block content %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static '/community/notice.css' %}">
<link rel="stylesheet" href="{% static '/community/community.css' %}">
<script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script> <!-- IONICONS -->

<!-- 헤더 -->
{% comment %} <div class="commu_head_wrapper">
    <div class="commu_head_menu_wrapper" style="display: inline;">
        <a class="commu_head_menu"><ion-icon name="information-circle" class="commu_head_menu_icon"></ion-icon></a>
        <a href="{% url 'community:commu_list' %}" class="commu_head_menu"><ion-icon name="exit-outline" class="commu_head_menu_icon"></ion-icon></a>
      </div>
</div> {% endcomment %}

<!-- 메인 -->
<div class="notice_detail_wrapper">
    <div class="notice_detail_contain">
        <div class="notice_detail_title">공지사항</div>
        <button class="back_button" onclick="window.history.back();">&lt</button>
        <!-- 공지사항 상세 -->
        <div class="notice_detail_content">
            <table class="table" border="0" width="100%" height="500">
                <tr height="40">
                    <td style="background-color:#EDEDED;"><label for="id_title">제목</label></td>
                    <td><div class="notice_detail_content_title">{{ notice.title }}</div></td>
                </tr>
                <tr height="40">
                    <td style="background-color:#EDEDED;"><label for="id_content">작성일자</label></td>
                    <td><div class="notice_detail_content_date">{{ notice.created_at }}</div></td>
                </tr>
                <tr height="40">
                    <td style="background-color:#EDEDED;"><label for="id_file">첨부파일</label></td>
                    <td>
                        {% if notice.file %}
                        {% if message %}
                            <div class="alert alert-warning">{{ message }}</div>
                        {% else %}
                            <form method="POST">
                                {% csrf_token %}
                                {{ notice.get_filename }}
                                <button type="submit" name="download">다운로드</button>
                            </form>
                        {% endif %}
                        {% else %}
                            <div class="alert alert-info">파일이 없습니다.</div>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td style="background-color:#EDEDED;"><label for="id_content">내용</label></td>
                    <td><div class="notice_detail_content_txt">{{ notice.content }}</div></td>
                </tr>
            </table>
        </div>
        
        {% if user.is_authenticated and user.is_superuser %}
        <form method="POST" action="{% url 'community:delete_notice' notice.id %}">
            {% csrf_token %}
            <button type="submit" class="delete_button">공지 삭제하기</button>
        </form>
        {% endif %}
        
        {% comment %} <a href="{% url 'community:commu_list' %}">목록</a> {% endcomment %}
    </div>
</div>
{% endblock %}
