{% extends "base.html" %} 
{% load static %}

{% block content %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'account/login.css' %}">

<form method="post">
  {% csrf_token %}
  <div class="login_wrapper">
    <div class="login_content_wrapper"> <!-- 흰박스 -->
      <div class="login_content_wrapper_layout"> <!-- 제목과 인풋 내용들을 왼쪽 정렬하기 위한 div -->
        <div class="login_content_title">로그인</div>
        <div class="login_content_detail"> <!-- 로그인 박스 ~ 회원가입 하기 묶는 div -->
          <div class="login_content_detail_input_wrapper"> <!-- 로그인 박스 ~ 수평선 묶는 div -->
            <input class="login_content_detail_input" placeholder="아이디를 입력해 주세요." type="text" id="userid" name="userid" value="{{ request.COOKIES.saved_id|default:'' }}" required/>
            <input class="login_content_detail_input" placeholder="비밀번호를 입력해 주세요." type="password" id="password" name="password" required/>

            {% if show_captcha %}
            <div class="captcha_wrapper">
              <img class="captcha_image" src="{{ captcha_image_url }}" alt="Captcha Image">
              <div class="captcha_input_wrapper">
                <input class="captcha_input" type="text" id="captcha" name="captcha" required placeholder="보안문구 입력">
                <input type="hidden" name="captcha_0" value="{{ captcha_key }}">
                <div class="alert alert-danger">{{ error_message }}</div>
              </div>
            </div>
            
            {% elif error_message %}
            <div class="alert alert-danger">{{ error_message }}</div>

            {% endif %}
            <label><input class="login_content_detail_idsave" type="checkbox" id="id-save-checkbox" onchange="saveId()"> 아이디 저장</label>
            <button class="login_content_detail_button" type="submit">로그인하기</button>


            <hr class="login_line">
          <div class="login_content_detail_sub">
            <a href="{% url 'account:find_userid' %}" class="login_content_signup_go">아이디 찾기</a>
            <div class="search_content_detail_bar"> | </div>
            <a href="{% url 'account:password_reset_request' %}" class="login_content_signup_go">비밀번호 찾기</a>
            <div class="search_content_detail_bar"> | </div>
            <a href="{% url 'account:signup' %}" class="login_content_signup_go">회원가입하기</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
{% endblock %}