{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'account/find_id.css' %}">

<div class="find_userid_wrapper">
    <button class="back_button" onclick="window.history.back();">&lt</button>
    <div class="find_userid_box">
        <div class="find_userid_box_title">비밀번호 재설정 요청</div>
        <div class="find_userid_box_content_wrapper">
            <div class="find_userid_box_content">
                {% if account_not_found %}
                    <p>입력한 정보와 일치하는 계정을 찾을 수 <br>없습니다.</p>
                {% elif email_sent %}
                    <p>비밀번호 재설정 이메일이 성공적으로 <br>발송되었습니다.</p>
                {% else %}
                    <form method="post" action="{% url 'account:password_reset_request' %}">
                        {% csrf_token %}
                        <div class="find_userid_box_content_input">
                            <div class="find_userpassw_box_content_id">
                                <label for="userid">아이디 :</label>
                                <input type="text" id="userid" name="userid">
                            </div>
                            <div class="find_userpassw_box_content_id">
                                <label for="email">이메일 :</label>
                                <input type="text" id="email" name="email">
                            </div>
                            <button class="find_userpassw_box_content_submit" type="submit">비밀번호 재설정 이메일 발송</button>
                        </div>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
